/*COMPANY PROFILE WEBSITE
AUTHOR : ARIEFUL19
JOB : FRONT-END DEVELOPMENT
CREATE : 27 JANUARY 2017*/*/

/*COMPANY STRUCTUR*/

/*1. GLOBAL STYLE
2. NAVIGATION STYLE
3. BANNER STYLE
4. ABOUT STYLE
5. TIMELINE STYLE
6. PORTFOLIO STYLE
7. VIDEO STYLE
8. TEAM STYLE
9. PRICING STYLE
10. CONTACT STYLE*/

/*==========	===========
	  GLOBAL STYLE
==========  ===========*/

body {
	font-family: 'Poppins', sans-serif;
	color: #000;
}

h1 {
	font-size: 3.5em;
	margin: 0.67em 0;
	letter-spacing: 1px;
}

h2 {
	font-size: 3em;
	margin: 0.57em 0;
	letter-spacing: 1px;
}

h3 {
	font-size: 2.5em;
	margin: 0.47em 0;
	letter-spacing: 1px;
}

h4 {
	font-size: 2em;
	margin: 0.37em 0;
	letter-spacing: 1px;
}

h5 {
	font-size: 1.5em;
	margin: 0.27em 0;
	letter-spacing: 1px;
}

h6 {
	font-size: 1em;
	margin: 0.17em 0;
	letter-spacing: 1px;
}

img {
    max-width: 100%;
    height: auto
}

a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #222222;
}

a:hover {
    color: #FF5E00;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0 none;
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol,
li {
    list-style: outside none none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

ul > li > a {
    color: #222222;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.bold {
    position: relative;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: #30bced;
    font-weight: 900;
}

.blue {
    position: relative;
    color: #30bced;
}

.banner-btn {
    position: relative;
    font-family: 'Poppins' , sans-serif;
    background-color: #30bced;
    border:1px solid transparent;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 10px 35px;
    text-transform: uppercase;
}

.banner-btn:hover {
    color: #fff;
    background-color: transparent;
    border-color: #30bced;
    transition: 1s ease-in-out 0s;
}

.about-btn {
    position: relative;
    font-family: 'Poppins' , sans-serif;
    background-color: #30bced;
    border: 1px solid transparent;
    border-radius: 50px;
    color: #fff;
    width: 100%;
    padding: 10px 30px;
    text-transform: uppercase;
}

.about-btn:hover {
    color: #000;
    background-color: transparent;
    border-color: #30bced;
    transition: 0.5s ease-in-out 0s;
}

.heading {
    position: relative;
    text-align: center;
}

.heading h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0px;
    color: #1a1a1a;
    text-transform: uppercase;
}

.heading h5 {
    font-size: 14px;
    font-family: 'Poppins', serif;
    font-weight: 400;
    line-height: 23px;
    width: 80%;
    margin-left: 8em;
}

.separator {
    width: 85px;
    height: 2px;
    margin: 20px 0px;
    background: #000;
}

/*navigation*/

.navbar-default {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: transparent;
    z-index: 999;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #00a8ff !important;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #30bced !important;
    background-color: transparent;
}

.navbar-brand .icofont {
    position: relative;
    color: #30bced;
    font-size: 20px;
    padding-right: 5px;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: 800;
}
/*.navbar-brand i,
.navbar-brand .bold {
    width: 150px;
    margin-left: 10px;
}*/

.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #fff }
.menu-top li a {
    color: #fff !important;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 20px;
}

.menu-top li a:hover { color: #ff5f83!important }
@media only screen and (max-width:768px) { 
    .navbar-default .navbar-nav > li > a {
        margin-top: 10px;
        padding: 8px;
    }
}

@media only screen and (max-width:480px) { 
    .menu-top { background-color: #fff }
    .navbar-default .navbar-nav > li > a { color: #313131  !important }
}

.navbar-default.menu-show {
background:rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
padding: 10px 0;
width: 100%;
 margin-top:0px
}

@media only screen and (max-width:480px) { 
    .menu-top {
        color: #fff !important;
        margin-left: 0px;
    }
}

.navbar-default.menu-show li a {color: rgba(0, 0, 0, 0.6) !important; }
.navbar-default.menu-show li a:hover { color: #ff5f83 !important }
.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #fff }
.navbar-default .navbar-toggle .icon-bar { background-color: #ff5f83 }

/*home-banner*/

.home {
    position: relative;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 17em;
    min-height: 673px;
    background-blend-mode: overlay;
    background-color: #333;
}

.home-banner {
    position: relative;
    text-align: center;
}

.home-banner-content h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: capitalize;
}

.home-banner-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
}

/*about us*/

.about {
    position: relative;
    padding: 80px 0px;
}

.about img {
    max-width: 100%;
}

.about-left {
    text-align: center;
    margin-top: 60px;
}

.about-right {
    position: relative;
    margin-top: 60px;
    text-align: left;
}

.about ul.icon-profile {
    position: relative;
    background-color: #30bced;
    padding-bottom: 20px;
}

.about ul.icon-profile li {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 10px 5px;
    margin-top: 20px;
    border:1px solid #fff;
    width: 50px;
}

.about ul.icon-profile .fa {
    color: #fff;
    font-size: 18px;
}

.about .about-content h2 {
    font-family: 'Poppins' , sans-serif;
    font-size: 25px;
    color: #333;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 80px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about .about-content p {
    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

/*other*/

.other {
    position: relative;
    background-color: #f9f9f9;
    padding: 80px 0px 40px 0px;
}

.other .title-other h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.other .other-left {
    background: #fff;
    padding: 30px 30px;
    margin-bottom: 20px;
}

.other .other-left h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
    margin-top: 0;
}

.other .other-left span.other-date {
    float: right;
    margin-top: -30px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background: #30bced;
    padding: 5px 10px;
}

.other .other-left h3 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    margin-bottom: 15px;
}

.other .other-left p {
    font-size: 15px;
    font-weight: 300;
    color: #333;
    letter-spacing: 1px;
}

.skill-item {
    position: relative;
    margin-top: 12px;
    margin-bottom: 30px;
    background: #000;
    border-radius: 10px;
}

.skill-item-progress {
    position: relative;
    width: 100%;
    height: 5px;
    background: #30bced;
    border-radius: 10px;
}

.skill-item-progress:after {
    background: none;
    box-shadow: 0 0 0 5px;
    opacity: 0.3;
}

.skill .progress-title {
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 17px;
}

.skill-item .counter {
    position: absolute;
    display: block;
    font-size: 15px;
    text-align: center;
    width: 46px;
    height: 24px;
    line-height: 24px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 15px;
    color: #fff;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translate(50%, -100%);
       -moz-transform: translate(50%, -100%);
        -ms-transform: translate(50%, -100%);
         -o-transform: translate(50%, -100%);
            transform: translate(50%, -100%);
}

.skill-item .counter {
    color: #000;
}

/*service*/

.service {
    position: relative;
    padding: 80px 0px;
}

.service .service-item {
    background: none repeat scroll 0 0 #f5f5f5;
    color: #777;
    font-weight: 100;
    margin: 30px 0 0;
    padding: 40px 20px;
    position: relative;
    text-align: center;
    transition: background-color 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: background-color 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.service .service-item:hover {
    background-color: #30bced;
    color: #fff;
}

.service .service-item .service-icon {
    font-size: 5em;
    margin-bottom: 0px;
    text-align: center;
    color: #292c34;
}

.service .service-item:hover .service-icon {
    color: #fff;
}

.service .service-item:hover .service-content h3 {
    color: #fff;
}

.service .service-item:hover .service-content p {
    color: #fff;
}

.service .service-item h3 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    font-family: 'Poppins' , sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.service .service-item p {
    font-size: 15px;
    color: #333;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

/*counter*/

.timeline {
    position: relative;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: #333;
    padding: 80px 0px;
}

.timeline .timeline-list {
    margin: 0px 24px;
}

.timeline .timeline-list li {
    z-index: 1;
    margin: 0px 30px;
    background: #2b2b2b;
    position: relative;
    padding: 20px 40px;
    display: inline-block;
}

.timeline .timeline-list .timeline-icon {
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
}

.timeline .timeline-list .timeline-count {
    font-size: 57px;
    line-height: 34px;
    font-weight: 700;
    display: block;
    margin: 0 0 20px;
    letter-spacing: 2px;
    color: #30bced;
}

.timeline .timeline-list .sub-title {
    display: block;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.timeline .timeline-list li::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    position: absolute;
    border: 3px solid #2b2b2b;
    transition: all 0.50s linear;
    -webkit-transition: all 0.25s linear;
}

.timeline .timeline-list li:hover::after {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

/*portfolio*/

.portfolio {
    position: relative;
    background-color: #f9f9f9;
    padding: 80px 0px 0px 0px;
}

.portfolio .portfolio-list {
    padding: 46px 0 50px;
}

.portfolio .portfolio-list ul {
    text-align: center;
}

.portfolio .portfolio-list ul li.active {
    color: #fff;
    background-color: #30bced;
}

.portfolio .portfolio-list ul li {
    display: inline;
}

.portfolio .portfolio-list ul li {
    display: inline-block;
    padding: 8px 14px 9px;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    transition: .5s;
    -webkit-transition: .5s;
    line-height: 21px;
    cursor: pointer;
    background-color: #fff;
}

.portfolio .portfolio-list ul li:hover {
    color: #fff;
    background-color: #30bced;
}

.portfolio .portfolio-wrapper {
    overflow: hidden;
}

.portfolio .single-portfolio {
    position: relative;
}

.portfolio .portfolio-img {
    position: relative;
}

.portfolio .portfolio-img img {
    width: 100%;
    display: block;
}

.portfolio .portfolio-img:before {
    position: absolute;
    content: "";
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 10px;
    background: #666;
    background: rgba(0, 0, 4, 0.5) none repeat scroll 0 0;
    border: 1px solid #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.portfolio .single-portfolio:hover .portfolio-img:before {
    content: "";
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    transform: scale(1);
}

.portfolio .portfolio-content {
    bottom: 10px;
    left: 10px;
    margin-top: -20px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 50%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .8s;
    transition: .8s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.portfolio .portfolio-content h3 {
    margin: 0;
    text-transform: uppercase;
    color: #30bced;
    font-size: 18px;
    font-weight: 600;
}

.portfolio .portfolio-content a {
    margin: 0px;
    color: #30bced;
}
.prot_content a i {} .single-portfolio:hover .portfolio-content {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    transform: scale(1);
}

.portfolio .portfolio-wrapper .col-md-3 {
    padding: 0;
}

/*testimonial*/

.testimonial {
    background: rgba(0, 0, 0, 0) url("../img/banner3.jpg") repeat scroll 0 0 / cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    padding: 5em 0;
}

.testimonial::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.testimonial-content {
    margin-top: 30px;
}

.testimonial-section-inner {
    display: block;
    vertical-align: middle;
}

.testimonial-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
}

.testimonial-author {
    margin-bottom: 20px;
}

.testimonial-author img {
    border: 3px solid #30bced;
    border-radius: 50%;
    height: auto;
    width: 100px;
}

.single-testimonial p {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0px;
    padding-bottom: 20px;
    text-transform: none;
}

.single-testimonial > h5 {
    color: #fff;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.single-testimonial h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.8px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.testimonial-list .owl-pagination {
    margin-top: 10px;
}

.owl-carousel .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
    
    ;
}
.owl-carousel .owl-controls {
    text-align: center;
}

.owl-carousel .owl-page span {
    display: block;
    background: #fff;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-radius: 20px;
    color: #fff;
}

.owl-carousel .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
    background: #30bced;
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}